# This is a pip requirement file.  See http://pypi.python.org/pypi/pip
# Utility libraries for development
pep8
python-dateutil==1.5

# scraping libraries
requests
pyquery

# data storage libraries
couchdb
