# This is a pip requirement file.  See http://pypi.python.org/pypi/pip
# Utility libraries for development
pep8

# We should stick to scraperwiki libraries as much as possible
# https://scraperwiki.com/docs/python/python_libraries/
requests
pyquery
